@charset "utf-8";
/* CSS Document - by Graphico Design, LLC */

body {color:#000;}

#PrintView {width:800px;height:auto; margin-left:auto;margin-right:auto;padding:72px 72px 72px 72px;}
#PrintLogo {margin-left:auto; margin-right:auto;}