/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	#mobileMenu{display:none;}
	#mo3mo{display:none;}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {#mobileMenu{display:none;}
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {#navicons{
			display:block;
			            
          }
		  #mobileMenu{display:none;}
		  #smphone{
			display:none;
			            
          }
		  		  #contactmap{	max-height:300px;max-width:300px;	}
		  }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		body {
		background:#000000;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #ffffff;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
	#menu {overflow-x:hidden;
       overflow-y:hidden;
       display: block;
       clear: both;
	    min-width:100%;
       width:auto;
	   }
	  #mobileMenu{display: block;clear: both; min-width:100%;width:auto; }
	  #menu{display:none;}
	  #navicons{display:block;}
	  #smphone{display:none;}
          #contactmap{max-height:300px;max-width:300px;	}
          #secondmenu{display:none;}
 #logo1{display:none;}
 #mo3mo{display:block;}
 
 table {display:block;}
thead, tbody,  td, {display: block; }
th {display:block; color:#ff0000;font-weight:bold;}
tr{display:block;border-bottom: 1px solid #eee;}
thead tr {position: absolute;top: -9999px;left: -9999px;}
td {border: none;position: relative; padding-right:5px;}
td:before {position: absolute;padding-left:5px;top: 6px;left: 6px;width: 80%; padding-right: 10px; white-space: nowrap;}
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	body {
		background:#000000;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #ffffff;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
	#menu {
	   overflow-x:hidden;
       overflow-y:hidden;
       display: block;
	   height:auto;
	   line-height: 3.5em;
       margin-bottom: 0;
       clear: both;
	   min-width:100%;
       width:auto;
	   text-wrap: normal; /* */
	   }
       #mobileMenu{display: block;clear: both; min-width:100%;width:auto; }
       #secondmenu{display:none;}  	
	#menu{display:none;}
	#navicons{
			display:block;
			            
          }
	#smphone{
			display:none;
			            
          }
 #contactmap{ max-height:300px; max-width:300px;	}
	  
#logo1{display:none;}
#mo3mo{display:block;}
table {display:block;}
thead, tbody,  td, {display: block; }
th {display:block; color:#ff0000;font-weight:bold;}
tr{display:block;border-bottom: 1px solid #eee;}
thead tr {position: absolute;top: -9999px;left: -9999px;}
td {padding-right: 4px;position: relative; }
td:before {position: absolute;padding-left:5px;top: 6px;left: 6px;padding-right: 10px; white-space: nowrap;}
	
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/